body{
  background-color: #b0e47f;
}
.App {
  background-color: rgb(139, 212, 55);
  min-height: 500px;
  width: 400px;
  margin: 40px auto ;
}
.App p{
  text-align: center;
  font-weight: bold;
}
#to-do input{
  background-color: rgb(183, 187, 171);
 border: 0;
 width: 200px;
 height: 50px;
 padding: 0 20px;
 margin: 20px;          
}
#to-do button{
  background-color: rgb(183, 187, 171);
 border: 0;
 width: 70px;
 height: 50px;
 cursor: pointer;
}

